/* FIX TOGGLE HAFALAN */
#sidebarToggleTop {
  position: relative;
  z-index: 3000;
  pointer-events: auto;
}

/* KHUSUS HAFALAN */
.main-scroll {
  position: relative;
  z-index: 1;
}

/* KHUSUS HAFALAN */
.topbar {
  position: relative;
  z-index: 2500;
}
/* IZINKAN EVENT BUBBLE DI HAFALAN */
@media (max-width: 768px) {
  body {
    position: relative !important;
  }
}
